.chatWindow {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span {
  margin: 1rem 2rem;
}

.userIconDiv {
  margin: 1rem 2rem;
}

.userIcon {
  background-color: #229cff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* chat input part */

.chatInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userBox {
  width: 100%;
  position: relative;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  font-size: 0.9rem;
  border-radius: 14px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
  outline: none;
}

#submit {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 20px;
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit i:hover {
  color: #fff;
}

.info {
  font-size: 0.9rem;
  padding: 0.5rem;
  color: #b4b4b4;
}
