.chatWindow {
  background-color: var(--chat-bg);
  color: var(--sidebar-text);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span {
  margin: 1rem 2rem;
  color: var(--chat-text-secondary)
}

.userIconDiv {
  margin: 1rem 2rem;
  color: var(--sidebar-text);
}

.userIcon {
  background-color: #229cff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* chat input part */

.chatInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userBox {
  width: 100%;
  position: relative;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  background-color:var(--input-bg);
  color: var(--sidebar-text);
  padding: 20px;
  font-size: 0.9rem;
  border-radius: 14px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input::placeholder {
  color: var(--chat-text-secondary);
}

input:focus {
  outline: none;
}

#submit {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 20px;
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit i{
  color: var(--sidebar-text);
}
#submit i:hover {

  opacity: 0.8;
}





.info {
  font-size: 0.9rem;
  padding: 0.5rem;
  color:var(--chat-text-secondary);
}

/* dropDown part */

.dropDown {
  position: absolute;
  top: 4rem;

  right: 4rem;

  width: 150px;

  background-color:var(--dropdown-bg);
  color: var(--sidebar-text);
  padding: 0.3rem 0.5rem;
  border-radius: 7px;
  text-align: left;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.dropDownItem {
  font-size: 0.9rem;
  margin: 0.3rem 0rem;
  padding: 0.5rem 0.2rem;
  cursor: pointer;
  color: var(--chat-text-secondary);
}

.dropDownHint{
 
  color: var(--chat-text-secondary);
  padding: 0.14rem;
}

.dropDownItem:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.chatLoader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0;
}

