.chats {
    max-width: 700px;
    overflow-y: scroll;
    padding: 8rem;
    scroll-behavior: smooth;
    
}
/* Chrome, Edge, Safari */
.chats::-webkit-scrollbar {
  width: 8px;
}

.chats::-webkit-scrollbar-track {
  background: transparent;
}

.chats::-webkit-scrollbar-thumb {
  background-color: #2b2b2b; 
  border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb:hover {
  background-color: #3a3a3a; 
}

/* Firefox */
.chats {
  scrollbar-width: thin;
  scrollbar-color: #2b2b2b transparent;
}


.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

