.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: solid 0.5px var(--sidebar-border);
  color: var(--sidebar-text);
  cursor: pointer;
}
.logo {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
}

button span {
  font-size: 20px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.history {
  margin: 10px;
  padding: 10px;
  height: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.history li {
  color: var(--sidebar-text);
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  margin-bottom: 0.3rem;
  font-size: 14px;
  border: solid 10px transparent;
  position: relative;
}

.history li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.history::-webkit-scrollbar {
  width: 6px;
}
.history::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 10px;
}
.history::-webkit-scrollbar-track {
  background: transparent;
}

.sign {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  border-top: solid 0.25px var(--sidebar-border);
  color: var(--sidebar-text);
}
.sign p {
  color: var(--sidebar-text);
}

.fa-trash {
  opacity: 0;
  position: absolute;
  right: 0;
}

.fa-solid {
  color: var(--chat-text-secondary);
}

.history li:hover .fa-trash {
  opacity: 1;
  color: var(--sidebar-text);
}
.preview-text {
  color: var(--sidebar-text);
}

.preview-sub {
  color: var(--sidebar-text);
}

.fa-trash:hover {
  color: #f87171 !important;
}

.sidebar i:hover {
  opacity: 0.7;
}

.highlighted {
  background-color: rgba(180, 180, 180, 0.05);
  border-radius: 10px;
}
